name: Monthly Finance Bot

on:
  schedule:
    # 计划任务：国际标准时间每月1号的09:00运行 (对应北京时间下午17:00)
    # 格式：分 时 日 月 周
    - cron: '0 9 1,15 * *'  # 每月1号和15号运行
  workflow_dispatch: # 允许手动点击按钮触发测试

permissions:
  contents: write # 赋予写权限，以便把数据库推回仓库

jobs:
  run_bot:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        pip install feedparser

    - name: Run Bot Script
      env:
        SENDER_EMAIL: ${{ secrets.SENDER_EMAIL }}
        SENDER_PASSWORD: ${{ secrets.SENDER_PASSWORD }}
        RECEIVER_EMAIL: ${{ secrets.RECEIVER_EMAIL }}
      run: python main.py

    - name: Commit and Push DB changes
      run: |
        git config --global user.name "GitHub Action Bot"
        git config --global user.email "actions@github.com"
        # 检查数据库文件是否有变化
        git add finance_journals.db
        # 如果没有变化（没有新文章），commit会报错，所以加了 || exit 0 忽略错误
        git commit -m "Update database records [skip ci]" || exit 0
        git push
